# langchain==0.0.148
langchain-community
llama-parse
langchain-nomic
langchain-ollama
scikit-learn
streamlit
ollama
langgraph
Ipython
ipykernel
langchain-huggingface
sentence-transformers
langchain-cohere
tensorflow
langchain_core
langchain_text_splitters
transformers
PyPDF2==2.10.5
faiss-cpu
torch
pytesseract
pdf2image
opencv-python
fitz
camelot-py[cv]==0.10.1 
PyMuPDF